<%= simple_form_for [post, comment] do |f| %>
  <div class="form-group">
    <%= f.label :body, "Add a comment" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <%= f.submit %>
<% end %>